@import "styles/colors";
// @import "styles/material";
// @import "styles/star-rating";
@import "styles/fonts";
@import "../../../node_modules/css-star-rating/scss/star-rating.scss";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../../../node_modules/@angular/material/theming";

@include mat-core();

//material styles

.mat-select-panel {
  background-color: #fff !important;
  border-radius: 24px !important;
  border: 0px solid transparent !important;
  margin-bottom: -10px !important;
  border-bottom: 1px solid $button-base-color !important;
  box-shadow: 0 3px 5px $shadow-base-color !important;
}

.mat-select-value {
  margin-left: 18px !important;
  color: $button-base-color !important;
}

.mat-form-field-infix {
  display: flex !important;
  border-top: 0px solid transparent !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-top: 0px solid transparent !important;
  color: $button-base-color !important;
  padding: 0.75em 0.75em 0 0 !important;
}

.mat-select-arrow-wrapper {
  margin-top: 17px !important;

  .mat-select-arrow {
    border-top-color: $button-base-color !important;
  }
}

.mat-option,
.mat-select {
  font-family: $font !important;
  color: $button-base-color !important;
}

.mat-select {
    padding-top: 4px!important;
}

.mat-option {
 text-align: center!important;
 border-radius: 24px!important;

 &:hover {
     background-color: $radiobutton-base-color!important;
 }
}

.mat-option-disabled {
    opacity: 0.5!important;
}

.mat-form-field {
    margin-top: -8px!important;
    font-family: $font!important;
    width: 185px!important;
    text-align: center!important;
}

.mat-datepicker-content-container {
  background-color: #fff;
  border-radius: 24px;
  border: 0px solid transparent !important;
  border-bottom: 1px solid $button-base-color !important;
  box-shadow: 0 3px 5px $shadow-base-color !important;
}

.mat-icon-button,
.mat-button {
  fill: $button-base-color !important;
  color: $button-base-color !important;
  line-height: 22px !important;
  background-color: transparent;
  svg {
    fill: $button-base-color !important;
  }
}

.mat-calendar-table-header,
.mat-calendar-body-label {
  display: none;
}

.mat-calendar-body-cell-content {
  border: 0px solid transparent !important;
  color: $button-base-color !important;

  &:hover {
    background-color: $button-base-color !important;
    color: $input-base-color !important;
  }
}

.mat-calendar-body-disabled {
  .mat-calendar-body-cell-content {
    color: $header-base-color !important;

    &:hover {
      background-color: transparent !important;
      color: $header-base-color !important;
    }
  }
}

// @import url("https://p.typekit.net/p.css?s=1&k=nch7gyt&ht=tk&f=10879.10884.10886&a=57446085&app=typekit&e=css");
@font-face {
  font-family: "futura-pt";
  src: url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: "futura-pt";
  src: url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "futura-pt";
  src: url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
.tk-futura-pt {
  font-family: "futura-pt", sans-serif;
}
